:root {
  --r-Grid-baseFontSize: var(--r-fontSize);
  --r-Grid-gutter: var(--r-lineHeight);
}

.r-Grid {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 54em) {
  .r-Grid {
    width: auto;
  }
  .r-Grid-cell {
    width: auto !important;
    display: block !important;
  }
}
