extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kud"
  -exports.title = "npm: choisir la bonne version de ses dépendances"
  -exports.tags = ["npm", "javascript", "nodejs"]
  -exports.date = "2014-05-12"

block main
  +Post(exports.title)
    include:md index.md
