/* TODO explode this shit in css modules in components */

/* base */
@import "normalize.css";
@import "cssrecipes-defaults";

/* grid */
@import "cssrecipes-custom-media-queries";
@import "cssrecipes-grid";
@import "cssrecipes-utils";

@import "cssrecipes-vertical-rhythm";
@import "cssrecipes-vertical-rhythm/lib/ratio/minor-third.css";

/* quick fix to avoid adding r-VerticalRhythm class to <html> */
html {
  font-size: var(--r-fontSize);
  line-height: var(--r-lineHeight);
}

@import "cssrecipes-tooltip";
.r-Tooltip--allowNewLines::before {
  white-space: pre;
}

@import "./base/typography.css";
@import "./base/colours.css";
@import "./base/layout.css";
@import "./base/responsive.css";
@import "./base/icons.css";
/* @import "../../tmp/svg-symbols.css"; */

@import "./blocks/header.css";
@import "./blocks/footer.css";

@import "./blocks/navigation.css";
@import "./blocks/links.css";
@import "./blocks/forms.css";

@import "./blocks/section.css";
@import "./blocks/column.css";
@import "./blocks/post.css";

@import "./blocks/author.css";
@import "./blocks/contributors.css";

@import "./blocks/list.css";
@import "./blocks/note.css";

/* @import "./js/images.css"; */

@import "./blocks/highlight.css";

/* advent calendar */
.putainde-Day {
  padding: .5rem;
  border: 1px solid #c33;
  border-radius: 2px;
  display: block;
  min-height: 7rem;
  margin: .2rem;
}

.putainde-Day[href=""] {
  opacity: .4;
}

.putainde-AdventCalendarLink {
  display: block;
  font-size: 2.6rem;
  line-height: 6rem;
  margin: 2rem;
  padding: 0 0 3rem;

  border-bottom: 1px solid gray;
  color: #c33;
  text-align: center;
  text-decoration: none;
}
