extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["lionelB"]
  -exports.title = "Vagrant, enlarge your VM"
  -exports.tags = ["virtualbox", "tools", "vagrant"]
  -exports.date = "2013-11-08"

block main
  +Post(exports.title)
    include:md index.md
