extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["MoOx"]
  -exports.title = "Introduction à Gulp"
  -exports.tags = ["javascript", "tools", "gulp"]
  -exports.date = "2014-04-29"

block main
  +Post(exports.title)
    include:md index.md
