extends /layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "lionelB"
  -exports.title = "Array.reduce par l'exemple"
  -exports.tags = ["javascript", "array"]
  -exports.date = "2014-05-13"

block main
  +Post(exports.title)
    include:md index.md
