extends /layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kud"
  -exports.title = "Petite définition de BEM"
  -exports.tags = ["css", "html", "méthologie", "convention"]
  -exports.date = "2014-05-01"

block main
  +Post(exports.title)
    include:md index.md
