extends /layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kud"
  -exports.title = "napa ou comment télécharger un package qui napa de package.json"
  -exports.tags = ["npm", "javascript", "nodejs"]
  -exports.date = "2014-05-12"

block main
  +Post(exports.title)
    include:md index.md
