:root {
  --putainde-Author-picture-size: calc(var(--line-height) * 3);
}

.putainde-Avatar {
  border-radius: 100%;
  box-shadow: 0 0 0 1px var(--putainde-Color-lightGrey);
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.putainde-Author {
  position: relative;
  padding: 0 0 0 7em;
  margin: var(--line-height) 0;
}
  @media (max-width:28em) {
    .putainde-Author {
      padding-left: 4em;
    }
  }

  .putainde-Author--author {
    padding: 0 0 0 calc(var(--putainde-Author-picture-size) + 1rem);
  }
    @media (max-width:28em) {
      .putainde-Author--author {
        padding-left: 4em;
      }
    }

  .putainde-Author-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--putainde-Author-picture-size);
    width: var(--putainde-Author-picture-size);
  }
    @media (max-width:28em) {
      .putainde-Author-picture {
        height: calc(var(--line-height) * 2);
        width: calc(var(--line-height) * 2);
      }
    }

  .putainde-Author-title {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: -1px;
    position: relative;
  }

  .putainde-Author-name {
    color: #222;
    margin: 0;
  }

  .putainde-WrittenBy {
    color: rgba(68, 68, 68, .6);
  }

  .putainde-Author-social {
    position: absolute;
    top: .5em;
    right: 0;
    background: #fafafa;
    border-radius: 2em;
    overflow: hidden;
  }
    @media (max-width:28em) {
      .putainde-Author-social {
        position: static;
        display: inline-block;
      }
    }

    .putainde-Author-social a {
      color: #444;
      fill: #444;
      display: inline-block;
      padding: .2em 1em;
    }

      .putainde-Author-social a .putainde-Icon { font-size: 1.2em; }
      @media (max-width:28em) { .putainde-Author-social a { font-size: 1em } }

      .putainde-Author-social a:hover,
      .putainde-Author-social a:focus { background: #eee }

  .putainde-Author-description {
    font-size: .925em;
    color: #444;
  }

  .putainde-Author--author .putainde-Author-description {
    font-size: .833rem;
  }

    .putainde-Author-bio {
      min-height: var(--line-height);
    }
