:root {
  --putainde-Contributor-height: calc(var(--cssr-lineHeight) * 2);
}

.putainde-Contributors {
  box-shadow: inset 0 1px 0 0 var(--putainde-Color-lightGrey);
  margin: calc(var(--cssr-lineHeight) * 2) 0;
  line-height: var(--putainde-Contributor-height);
}

  .putainde-Contributors-label {
    font-size: var(--cssr-small-fontSize);
    display: inline-block;
  }

  .putainde-Contributor {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
  }

    .putainde-Contributor-avatar {
      width: 2rem;
      height: 2rem;
    }
