:root {
  --putainde-Contributor-height: var(--doubleLineHeight);
}

.putainde-Contributors {
  box-shadow: inset 0 1px 0 0 var(--putainde-Color-lightGrey);
  margin: var(--doubleLineHeight) 0;
  line-height: var(--putainde-Contributor-height);
}

.putainde-Contributors-label {
  font-size: var(--small-fontSize);
  display: inline-block;
}

.putainde-Contributor {
  margin-left: 1rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}
