.putainde-List-item {
  position: relative;
  padding: 0 0 0 calc(var(--cssr-lineHeight) * 3);
  margin-top: -1px;
  border-bottom: 1px solid #eee;
}
  @media (max-width:28em) {
    .putainde-List-item {
      padding: 0 0 0 4rem;
    }
  }

.putainde-List-item--hidden {
  height: 0;
  padding: 0;
  border: none;
  min-height: 0;
  overflow: hidden;
}

:root {
  --putainde-List-avatars-width: calc(var(--cssr-lineHeight) * 2);
}

.putainde-List-avatars {
  position: absolute;
  top: calc(var(--putainde-List-avatars-width) / 2);
  left: 0;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black); /* fix webkit overflow/radius bug */
}

  .putainde-List-avatars * { vertical-align: middle }

  .putainde-List-avatars-author {
    display: inline-block;
    overflow: hidden
  }

  .putainde-Avatars--2 .putainde-List-avatars-author { width: calc(var(--putainde-List-avatars-width) / 2) }
  .putainde-Avatars--3 .putainde-List-avatars-author { width: calc(var(--putainde-List-avatars-width) / 3) }
  .putainde-Avatars--4 .putainde-List-avatars-author { width: calc(var(--putainde-List-avatars-width) / 4) }
  .putainde-Avatars--5 .putainde-List-avatars-author { width: calc(var(--putainde-List-avatars-width) / 5) }
  .putainde-Avatars--6 .putainde-List-avatars-author { width: calc(var(--putainde-List-avatars-width) / 6) }

    .putainde-List-avatars-author-avatar {
      width: var(--putainde-List-avatars-width);
      height: var(--putainde-List-avatars-width);
      border-radius: 0;
    }

    .putainde-Avatars--1 .putainde-List-avatars-author-avatar { transform: translateX(calc(-0%)) }
    .putainde-Avatars--2 .putainde-List-avatars-author-avatar { transform: translateX(calc(-25% - 12.5%*(2-2)/2)) }
    .putainde-Avatars--3 .putainde-List-avatars-author-avatar { transform: translateX(calc(-25% - 12.5%*(3-2)/2)) }
    .putainde-Avatars--4 .putainde-List-avatars-author-avatar { transform: translateX(calc(-25% - 12.5%*(4-2)/2)) }
    .putainde-Avatars--5 .putainde-List-avatars-author-avatar { transform: translateX(calc(-25% - 12.5%*(5-2)/2)) }
    .putainde-Avatars--6 .putainde-List-avatars-author-avatar { transform: translateX(calc(-25% - 12.5%*(6-2)/2)) }

.putainde-Message {
  font-size: var(--cssr-h1-fontSize);
  line-height: 10rem;
  color: #ccc;
  text-align: center;
  font-weight: 700;
  font-family: var(--fontFamily-title);
}

.putainde-Message--hidden {
  display: none;
}

.putainde-List-title {
  display: block;
  margin: 0;
  font-family: var(--fontFamily-title);
  font-size: var(--cssr-h3-fontSize);
  padding-top: calc(var(--cssr-lineHeight) * .4);
  padding-bottom: calc(var(--cssr-lineHeight) * .6);
  line-height: var(--cssr-lineHeight);

  color: #444;
}

.putainde-Tags {
  list-style-type: none;
  padding: 0;
}

.putainde-Tag {
  display: inline-block;
  background: #fdfdfd;
  box-shadow: inset 0 0 0 1px color(#000 alpha(5%));
  padding: 0 1em;
  margin-right: .2rem;
  font-size: var(--cssr-small-fontSize);
  line-height: 1.6;
  border-radius: 1em;
}

.putainde-List-author {
  position: absolute;
  color: #888;
  font-size: var(--cssr-small-fontSize);
  line-height: 1rem;
  bottom: 1.2rem;
  right: 0;
  text-align: right;
}
  @media (max-width:34em) {
    .putainde-List-author {
      text-align: left;
      position: static;
      margin: 0 0 var(--cssr-lineHeight);
    }
  }

  .putainde-List-author a {
    font-weight: 700;
    text-decoration: none;
    color: #666;
  }

  .putainde-List-author time {
    font-size: var(--cssr-small-fontSize);
  }
