.putainde-List-item {
  position: relative;
  padding: 0 0 0 calc(var(--line-height) * 3);
}
  @media (max-width:28em) {
    .putainde-List-item {
      padding: 0 0 0 4rem;
    }
  }

.putainde-List-item:not(:last-child) {
  border-bottom: 1px solid #eee;
  margin-top: -1px;
}

.putainde-List-item--hidden {
  height: 0;
  padding: 0;
  border: none;
  min-height: 0;
  overflow: hidden;
}

.putainde-List-authorPicture {
  position: absolute;
  top: var(--half-line-height);
  left: 0;
  width: var(--double-line-height);
}

.putainde-Message {
  font-size: var(--font-size-h1);
  line-height: 10rem;
  color: #ccc;
  text-align: center;
  font-weight: 700;
  font-family: var(--font-family-title);
}

.putainde-Message--hidden {
  display: none;
}

.putainde-List-title {
  display: block;
  margin: 0;
  font-family: var(--font-family-title);
  font-size: var(--font-size-h3);
  padding-top: calc(var(--line-height) * .4);
  padding-bottom: calc(var(--line-height) * .6);
  line-height: var(--line-height);

  color: #444;
}

.putainde-Tags {
  list-style-type: none;
  margin: 0;
  padding: 0 0 var(--line-height);
}

.putainde-Tag {
  display: inline-block;
  background: #fdfdfd;
  box-shadow: inset 0 0 0 1px color(#000 alpha(5%));
  padding: 0 1em;
  margin-right: .2rem;
  font-size: var(--font-size-small);
  line-height: 1.6;
  border-radius: 1em;
}

.putainde-List-author {
  position: absolute;
  color: #888;
  font-size: var(--font-size-small);
  line-height: 1rem;
  bottom: 1.2rem;
  right: 0;
  text-align: right;
}
  @media (max-width:34em) {
    .putainde-List-author {
      text-align: left;
      position: static;
      margin: 0 0 var(--line-height);
    }
  }

  .putainde-List-author a {
    font-weight: 700;
    text-decoration: none;
    color: #666;
  }

  .putainde-List-author time {
    font-size: var(--font-size-small);
  }
