@media (min-width:54em) {
  .putainde-Nav {
    text-align: right;
  }
}

.putainde-Nav-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: var(--small-fontSize);
  font-weight: 700;
  text-align: center;
  color: #fff;
  fill: #fff;
  text-decoration: none;
  padding: 0 .4rem;
}

  @media (min-width:29em) {
    .putainde-Nav-item {
      padding: 0 1rem;
    }
  }

  .putainde-Nav-item:hover,
  .putainde-Nav-item:focus {
    background: color(#000 alpha(10%));
  }


.putainde-Nav-item--current::after {
  content: "";
  position: absolute;
  bottom: .6em;
  height: .3em;
  width: .3em;
  background: #fff;
  box-shadow: 0 0 .3em #fff;
  border-radius: .3em;
  left: 50%;
  margin-left: .5em;
}

.putainde-Nav .putainde-Nav-item .putainde-Icon {
  opacity: .6
}

.putainde-Nav .putainde-Nav-item--icon .putainde-Icon {
  opacity: .4
}
.putainde-Nav .putainde-Nav-item--icon:hover .putainde-Icon {
  opacity: .6
}

.putainde-Nav .putainde-Nav-item:not(.putainde-Nav-item--icon) + .putainde-Nav-item--icon {
    margin-left: 1rem;
}


.putainde-Nav .putainde-Icon { font-size: 1.6rem; }

  /* icons for item with label can be smaller */
  .putainde-Nav :not(.rcp-Tooltip) .putainde-Icon { font-size: 1.2rem; }

@media (max-width:29em) {
  /* hide icons for Nav-item that have a label on small screen */
  .putainde-Nav :not(.rcp-Tooltip) .putainde-Icon {
    display: none;
  }
}
