.putainde-Main {
  margin: var(--cssr-lineHeight) 0;
}

.putainde-Section {
  text-align: center;
  margin: var(--cssr-lineHeight) auto;
}

.putainde-Section-contents {
  text-align: left;
}

.putainde-Section--manifesto {
  background: #fafafa;
  padding: var(--cssr-lineHeight);
}

  .putainde-Section--manifesto .putainde-Title {
    background: #fafafa;
    background: linear-gradient(to bottom, #fafafa 60%, color(#fafafa alpha(0)));
  }
