extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["lionelB"]
  -exports.title = "Quelques retours sur Reactjs et le rendu serveur"
  -exports.tags = ["javascript", "reactjs"]
  -exports.date = "2015-02-23"

block main
  +Post(exports.title)
    include:md index.md
