:root {
  --component-color1: #fff;
  --component-color2: #fafafa;
}

.component {
  display: inline-block;
  margin: 0 .5rem;
  padding: 0 .5rem;
  line-height: 1.5em;

  color: #c33;
  border: 1px solid transparent;
  border-color: #ddd;
  background: linear-gradient(var(--component-color1), var(--component-color2));
  border-radius: .2em;
  text-decoration: none;
}

  .component:hover,
  .component:focus {
    border-color: #ddd;
    background: linear-gradient(var(--component-color1), color(var(--component-color2) b(+5%)));
  }
  .component:active {
    border-color: #ddd;
    background: linear-gradient(color(var(--component-color2) b(+10%)), var(--component-color1));
  }

  .componentBlock {
    display: block;
    text-align: center;
    line-height: 3rem;
    margin: 0 0 1.5rem;
  }

  .componentSmall {
    font-size: .75rem;
  }

  @media (--minS) {
    .componentSmall {
      font-size: .85rem;
    }
  }
