extends /layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "MoOx"
  -exports.title = "Comment en finir avec les préfixes CSS"
  -exports.tags = ["css", "préfixe", "pré-processeur", "post-processeur"]
  -exports.date = "2014-02-25"

block main
  +Post(exports.title)
    include:md index.md
