extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["Erwyn"]
  -exports.title = "Git, boutez les bugs, domptez votre historique!"
  -exports.tags = ["git"]
  -exports.date = "2014-02-27"

block main
  +Post(exports.title)
    include:md index.md
