extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "bloodyowl"
  -exports.title = "Flux, qu'est-ce que c'est ?"
  -exports.tags = ["javascript", "reactjs", "flux"]
  -exports.date = "2014-10-27"

block main
  +Post(exports.title)
    include:md index.md
