extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "Nyalab"
  -exports.title = "Comment contribuer ?"
  -exports.tags = ["putaindecode", "contribuer"]
  -exports.date = "2013-11-05"

block main
  +Post(exports.title)
    include:md index.md
