extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kud"
  -exports.title = "Premiers pas avec Grunt"
  -exports.tags = ["javascript", "tools", "grunt"]
  -exports.date = "2013-11-16"

block main
  +Post(exports.title)
    include:md index.md
