.putainde-Column {
  text-align: left;
  padding: 0 2em;
}
@media (--maxM) {
  .putainde-Column {
    padding: 0.5em;
  }
}

.putainde-Column-title {
  font-size: 1.275em;
  font-family: var(--fontFamily-title);
  font-weight: 400;
  color: #444;
  text-decoration: none;
  display: block;
  padding: 0;
}

.putainde-Label {
  cursor: pointer;
  display: block;
  padding: 0 0 calc(var(--r-lineHeight) * 0.315);
}

.putainde-Label input {
  margin-right: 1em;
}

.putainde-Label-text {
  font-size: 0.875em;
  color: #444;
}
