extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "bloodyowl"
  -exports.title = "Comment se passer de libraries/frameworks JavaScript"
  -exports.tags = ["javascript", "frameworks", "libraries"]
  -exports.date = "2013-12-06"

block main
  +Post(exports.title)
    include:md index.md
