.SVGIcon {
  transform: translate3d(0,0,0); /* fix webkit/blink poor rendering issues */

  /* it's better defined directly because of the cascade shit
  width: inherit;
  height: inherit;
  line-height: inherit;
  */

  vertical-align: middle;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  .SVGIcon-svg {
    width: inherit;
    height: inherit;
    line-height: inherit;

    color: inherit;
    fill: currentColor;
  }
