.component {
  position: absolute;
  left: 0;
  right: 0;

  padding: 1rem 2rem;
  text-align: center;

  color: #fff;
  background: color(#000 a(.7));
}

.close {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
