extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kud"
  -exports.title = "La puissance de dnsmasq"
  -exports.tags = ["dnsmasq", "macosx", "test", "dns", "serveur"]
  -exports.date = "2014-02-20"

block main
  +Post(exports.title)
    include:md index.md
