extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kud"
  -exports.title = "Twitter comme lecteur de flux"
  -exports.tags = ["twitter", "rss", "atom"]
  -exports.date = "2014-02-26"

block main
  +Post(exports.title)
    include:md index.md
