extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kud"
  -exports.title = "Table ronde #3 - Les bonnes pratiques et organisation CSS/HTML"
  -exports.tags = ["table-ronde", "css", "html"]
  -exports.date = "2014-05-05"

block main
  +Post(exports.title)
    include:md index.md
