extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "rhannequin"
  -exports.title = "Dépendances et premier projet en Ruby"
  -exports.tags = ["backend", "ruby"]
  -exports.date = "2014-10-14"

block main
  +Post(exports.title)
    include:md index.md
