extends /layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kud"
  -exports.title = "Sublime Text en tant qu'éditeur Markdown"
  -exports.tags = ["sublime-text", "markdown"]
  -exports.readingTime = "15min"
  -exports.date = "2014-02-20"

block main
  +Post(exports.title)
    include:md index.md
