extends /layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kud"
  -exports.title = "Se mettre au frontend en 2014, par où commencer ?"
  -exports.tags = ["interview"]
  -exports.date = "2014-05-15"

block main
  +Post(exports.title)
    include:md index.md
