@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg')
}

.putainde-Icon {
  display: inline-block;
  vertical-align: middle;
}
  .putainde-Icon:before {
    font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
  }


.putainde-Icon--bookmark:before {
  content: "\E001";
}

.putainde-Icon--github:before {
  content: "\E002";
}

.putainde-Icon--pencil:before {
  content: "\E003";
}

.putainde-Icon--text-file:before {
  content: "\E004";
}

.putainde-Icon--twitter:before {
  content: "\E005";
}

.putainde-Icon--world:before {
  content: "\E006";
}
