@font-face
  font-family: "icons"
  src: url('../fonts/icons.eot')
  src: url('../fonts/icons.eot?#iefix') format('eot'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg')


.putainde-Icon
  display: inline-block
  vertical-align: middle
  &:before
    font-family: "icons"
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-style: normal
    font-variant: normal
    line-height: 1
    font-weight: normal
    text-decoration: none
    text-transform: none


.putainde-Icon--bookmarks:before
  content: "\E001"

.putainde-Icon--edit:before
  content: "\E002"

.putainde-Icon--email:before
  content: "\E003"

.putainde-Icon--eye:before
  content: "\E004"

.putainde-Icon--github:before
  content: "\E005"

.putainde-Icon--home:before
  content: "\E006"

.putainde-Icon--pencil:before
  content: "\E007"

.putainde-Icon--team:before
  content: "\E008"

.putainde-Icon--twitter:before
  content: "\E009"

.putainde-Icon--world:before
  content: "\E00A"
