<!DOCTYPE html>
{% if site.happyplan.repository.url %}<!--
	HEY YOU, STOP LOOKING AT MY SOURCE CODE
	Just check it out directly on Github :
	
	{{ site.happyplan.repository.url }}
-->{% endif %}
<html lang="en" class="no-js no-touch {{ page.class }}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<script>(function(docEl) {
	docEl.className = docEl.className.replace(/\bno-js\b/, 'js');
	if ('ontouchstart' in docEl) { docEl.className = docEl.className.replace(/\bno-touch\b/, 'touch'); }
})(document.documentElement);</script>
{% include head.html %}
</head>
<body>
{{ site.happyplan.html.hooks.body_open }}
<div class="{% if page.class %}{ page.class }}{% endif %}">
	{% if page.dontIncludeNav != true %}{% include nav.html %} {% endif %}
	<div class="putainde-Page grid">
		<div class="putainde-Page-title grid__cell unit-1-1">{{ page.title }}</div>
		<div class="putainde-Page-content grid__cell {% if page.dontIncludeNav != true %}unit-3-4--m{% endif %}">
		{{ content }}
		</div>
		{% if page.dontIncludeNav != true %}
		<div class="putainde-Sidebar grid__cell unit-1-4--m">
		{% include sidebar.html %}
		</div>
		{% endif %}
	</div>
</div>
{{ site.happyplan.html.hooks.body_close }}
{% include google-analytics.html %}
</body>
</html>
