---
layout: default.hbs
pageClass: putainde-Post
nav: true
title: true
sidebar: true
footer: true
author: false
---
{{> body }}

{{ author this.author }}

{{#if this.contributors}}
  <h2>Contributeurs</h2>
  <ul>
  {{#each this.contributors}}
    <li><a href="https://github.com/{{this}}">@{{this}}</a></li>
  {{/each}}
  </ul>
{{/if}}

{{#and happyplan.disqus_short_name page.comments }}
<section class="putainde-Comments">
  <h1 class="putainde-Comments-title">Comments</h1>
  <div id="disqus_thread" aria-live="polite">
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
{{/and}}

