.putainde-Post {
  color: #444;
  text-align: center;
  padding: 0 1rem;
}

  /* if a custom header is here, we adjust the post to be near the nav */
  .putainde-Post--customHeader {
    margin: calc(var(--r-lineHeight) * -1) 0 0;
  }

  .putainde-Post a {
    color: var(--putainde-Color-red);
    fill: var(--putainde-Color-red);
    text-decoration: none;
  }
    .putainde-Post a:hover,
    .putainde-Post a:focus {
      text-decoration: underline;
    }

  .putainde-Post-header {
    position: relative;
    text-align: center;
    margin: 0 -1rem calc(var(--r-lineHeight) * 1);
    padding: calc(var(--r-lineHeight) * 2) 0;

    /* for putainde-Post-header--dark.putainde-Post-header--filter */
    overflow: hidden;
  }

    .putainde-Post-header--custom {
      padding: 4rem 0;
      box-shadow:
        0 0 1rem color(#000 a(.2)) inset,
        0 .4rem 1rem color(#000 a(.2)) inset
      ;
    }

    /*
      vh only used for large screen, cause of the iOS 7 bug...
      https://github.com/putaindecode/putaindecode.io/issues/454
      I guess no iOS 7 will match --r-minL
    */
    @media (--r-minL) {
      .putainde-Post-header--custom {
        padding: 15vh 0;
      }
    }

    .putainde-Post-header--dark {
      color: #fff;
    }

    .putainde-Post-header--light {

    }

    .putainde-Post-header .putainde-Title {
      padding: 0 1rem;
    }

    .putainde-Title {
      margin: calc(var(--r-lineHeight) / 2) 0;
      overflow: auto;
    }

    .putainde-Title--home {
      text-align: center;

    }

    @media (--r-minL) {
      .putainde-Post-header .putainde-Title {
        font-size: calc(var(--r-h1-fontSize) * 1.5);
        line-height: calc(var(--r-h1-lineHeight) * 1.5);
        margin: calc(var(--r-h1-fontSize) * 1.5) 0;
        padding: 0 4rem;
      }
    }

      .putainde-Post-header--dark .putainde-Title {
        text-shadow:
          0 0 6px color(#000 a(-75%)),
          0 0 5px color(#000 a(-80%)),
          0 0 4px color(#000 a(-85%)),
          0 0 3px color(#000 a(-90%)),
          0 0 2px color(#000 a(-95%))
        ;
      }

      .putainde-Post-header--light .putainde-Title {
        text-shadow:
          0 0 5px color(#fff a(-80%)),
          0 0 4px color(#fff a(-85%)),
          0 0 3px color(#fff a(-90%)),
          0 0 2px color(#fff a(-95%))
        ;
      }

      .putainde-Post-header-picture {
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /* to avoid shitty rendering for low def background */
        filter: blur(2px);

        /*
          to avoid shitty rendering of filter: blur() on edge
          example of the issue:
          <div style="background: green">
            <img src="http://lorempixel.com/400/200/" style="filter: blur(5px)"/>
          </div>
         */
        transform: scale(1.05);
      }

        .putainde-Post-header-pictureCredit {
          position: absolute;
          bottom: .4rem;
          right: .4rem;

          font-size: calc(var(--r-small-fontSize) * var(--r-small-fontSize));

          opacity: .6;
          transition: .2s;
        }

          .putainde-Post-header-pictureCredit:hover {
            opacity: .8;
          }

  .putainde-Post-metas  {
    display: inline-block;
    font-size: var(--r-small-fontSize);
    color: #999;
  }

  .putainde-Post .putainde-Post-tags {
    margin-bottom: calc(var(--r-lineHeight) * 2);
  }

/* enable nowrap for tooltip only for medium screen, to avoid scrollbar & shit */
/* https://github.com/putaindecode/putaindecode.io/issues/266 */
@media (--r-minM) {
  .putainde-Post-readingTime::before {
    white-space: nowrap;
  }
}

.putainde-Post-contents {
  /*text-align: left;*/
}

.putainde-Post-md {
  text-align: left;
}

  .putainde-Post-md ul,
  .putainde-Post-md ol {
    padding: 0 0 0 1.75em;
  }

  .putainde-Post-md tt,
  .putainde-Post-md code,
  .putainde-Post-md pre {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
  }

  .putainde-Post-md code {
    display: inline-block;
    vertical-align: middle;
    max-width:100%;
    border: 1px solid #ddd;
    margin: -1px 0;
    padding: .25em;
    font-size: var(--r-small-fontSize);
    font-weight: 400;
    background: #fafafa;
    border-radius: .25em;
    line-height: 1;
    word-wrap:break-word;
  }

  .putainde-Post-md pre {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow: auto;
    margin: var(--r-lineHeight) 0;
    padding: calc(var(--r-lineHeight) / 2);
    line-height: calc(var(--r-lineHeight) * .75);
    font-size: var(--r-small-fontSize);
    color: #444;
    font-weight: 400;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: .3em;
    box-shadow: inset 0 0 0 .25em color(#000 alpha(2%));
  }
    .putainde-Post-md pre code {
      display: block;
      background: transparent;
      border: none;
      padding: 0;
      font-size: inherit;
      vertical-align: baseline;
      line-height: inherit;
    }

  .putainde-Post-md h1,
  .putainde-Post-md h2,
  .putainde-Post-md h3,
  .putainde-Post-md h4,
  .putainde-Post-md h5,
  .putainde-Post-md h6 {
    position: relative;
  }

    .putainde-Post-md .markdownIt-Anchor {
      position: absolute;
      left: -1em;
      width: 1em;
      text-align: center;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      color: #999;
    }

      .putainde-Post-md h1:hover .markdownIt-Anchor,
      .putainde-Post-md h2:hover .markdownIt-Anchor,
      .putainde-Post-md h3:hover .markdownIt-Anchor,
      .putainde-Post-md h4:hover .markdownIt-Anchor,
      .putainde-Post-md h5:hover .markdownIt-Anchor,
      .putainde-Post-md h6:hover .markdownIt-Anchor {
        opacity: 1;
      }

  .putainde-Post-md img {
    max-width: 100%;
    height: auto;
  }
  .putainde-Post-md p img:only-child {
    margin: 1em 0;
  }
  .putainde-Post-md figure {
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 1px #eee;
    margin: 0 auto var(--r-lineHeight);
    overflow: hidden;
    border-radius: .3em;
    display: block;
    line-height: 1rem;
    text-align: center;
  }

    .putainde-Post-md figcaption {
      font-style: italic;
      font-family: Georgia, Times, "Times New Roman", serif;
      text-align: center;
      margin: 0;
      display: block;
      background: #fafafa;
      line-height: calc(var(--r-lineHeight) * 2);
      border-top: 1px solid #eee;
      margin-top: -1px;
    }

    .putainde-Post-md figure small {
      display: block;
      text-align: right;
      padding: 0 .4rem;
    }

    .putainde-Post-md figure small a {
      color: grey;
      font-size: var(--r-small-fontSize);
    }

  .putainde-Post-md blockquote {
    color: #888;
    margin: 0 0 0 1em;
    padding: 0 2em 0 1em;
    border-left: .25em solid #888;
  }
  .putainde-Post-md hr {
    border: none;
    border-top: .225em solid #eee;
    margin-top: -.225em;
  }
  .putainde-Post-md table {
    border-collapse: collapse;
    border: 1px solid #eee;
    border-radius: .225em;
  }
    .putainde-Post-md thead {
      background: #fafafa
    }

    .putainde-Post-md td,
    .putainde-Post-md th {
      padding: .5em 1em;
      border-left: 1px solid #eee;
    }
    .putainde-Post-md tr {
      border-bottom: 1px solid #eee;
    }

  .putainde-Post-md .putainde-Media  {

  }

    .putainde-Post-md .putainde-Media--left  {
      float: left;
      margin-right: 1rem;
    }

    .putainde-Post-md .putainde-Media--right  {
      float: right;
      margin-left: 1rem;
    }

.putainde-Post-footer  {
  margin: var(--r-lineHeight) 0;
  padding: var(--r-lineHeight) 0;
  box-shadow: inset 0 1px 0 0 var(--putainde-Color-lightGrey);
}

#disqus_thread {
  margin: calc(var(--r-lineHeight) * 2) 0 var(--r-lineHeight);
}

  .putainde-WrittenBy {
    color: color(#444 a(.6));
  }
