extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["kud"]
  -exports.title = "De jQuery à Vanilla JS"
  -exports.tags = ["javascript", "jquery", "vanillajs"]
  -exports.date = "2013-12-05"

block main
  +Post(exports.title)
    include:md index.md
