.putainde-Content {
  max-width: $putainde-Page-max-width;
  margin: auto;
}

  .putainde-Content-header {
    margin: 2rem 0 1rem;
  }

    .putainde-Content-title {
      font-size: 2rem;
      font-weight: bold;
      color: $putainde-Color-red;
    }

    .putainde-Content-metas {
      padding: 0 1.2rem;
      font-size: .9em;
      opacity: .6;
    }

      .putainde-Content-meta + .putainde-Content-meta::before {
        content: " - ";
      }

.putainde-Date {
  text-transform: capitalize;
}
