.putainde-Footer {
  margin: 4rem 0 0;
  //color: #fff;
  //background: $putainde-Color-red;
  //box-shadow: 0 0 .2rem rgba(#000, .6);


  .grid {
    position: relative;
    max-width: $putainde-Page-max-width;
    margin: auto;
  }
}

  .putainde-Footer-block {
    padding: 2rem 0;
  }

    .putainde-Footer-block-title {
      font-size: 1.2rem;
    }

    .putainde-Footer-block-list {

    }

  .putainde-Footer-colophon {
    font-size: .8rem;
    padding: 1rem 0;
    border-top: 1px solid #ddd;
    color: #999;
  }

    .putainde-Footer-colophon-left {
      text-align: left;
    }

    .putainde-Footer-colophon-center {
      text-align: center;
    }

    .putainde-Footer-colophon-right {
      text-align: right;
    }

      .putainde-Footer-logo {
        width: 3rem;
      }
