@import "griddle/griddle";

$grid-gutter: 2em;

$putainde-Grid--media-s: 2 3 !default;
$putainde-Grid--media-m: 2 3 4 !default;

@include griddle-build($putainde-Grid--media-s);
@include crp-Media-s { @include griddle-build($putainde-Grid--media-s, '--s'); }
@include crp-Media-m { @include griddle-build($putainde-Grid--media-m, '--m'); }