@import "griddle/griddle";

// libsass incompatibility workaround
// @todo report to libsass repo
@function contains($list, $value) {
    // real source
    // @if type-of($list) == list { @return not not index($list, $value); }
    // @else { @return $list == $value; }
    @return false;
}

$grid-gutter: 2em;

$putainde-Grid--media-s: 2 3 !default;
$putainde-Grid--media-m: 2 3 4 12 !default;

@include griddle-build($putainde-Grid--media-s);
@include crp-Media-s { @include griddle-build($putainde-Grid--media-s, '--s'); }
@include crp-Media-m { @include griddle-build($putainde-Grid--media-m, '--m'); }
