// Monokai Soda colors
$code-Color-grey--darker: #222;
$code-Color-grey--dark: #2f3030;
$code-Color-grey--light: #bebec5;
$code-Color-grey--soft: #6f705e;
$code-Color-turquoise: #76d9e6;
$code-Color-fushia: #f12770;
$code-Color-yellow: #e6d06c;
$code-Color-orange: #fd971f;
$code-Color-purple: #a77afe;
$code-Color-green: #a6e22d;

// Theme
$code-background:      $code-Color-grey--darker;
$code-color:           #fff;
$code-color-fade:      $code-Color-grey--soft;
$code-text-shadow:     0 1px 0 #000;

$code-color-atom:             $code-Color-purple !default;
$code-color-attribute:        null !default;
$code-color-bracket:          null !default;
$code-color-comment:          $code-color-fade !default;
$code-color-def:              $code-Color-orange !default;
$code-color-keyword:          $code-Color-turquoise !default;
$code-color-meta:             $code-Color-turquoise !default;
$code-color-link:             $code-Color-turquoise !default;
$code-color-name:             null !default;
$code-color-number:           $code-Color-purple !default;
$code-color-property:         null !default;
//$code-color-punctuation:      $code-color-fade !default;
$code-color-selector:         null !default;
$code-color-string:           $code-Color-yellow !default;
$code-color-string-2:         $code-Color-yellow !default;
$code-color-string-property:  $code-Color-yellow !default;
$code-color-tag:              $code-Color-fushia !default;
$code-color-value:            null !default;
$code-color-variable:         $code-Color-green !default;
$code-color-variable-2:       $code-Color-fushia !default;

// ---

// Code Selector
$code-selector: "code";
$code-selector-block: "pre > code";
$code-selector-inline: ":not(pre) > code";

// Basic styles
$code-font-family:    Menlo, Monaco, "Courier New", monospace !default;
$code-font-size:      12px !default;
$code-line-height:    18px !default;

$code-tab-size:       2 !default;
$code-hyphens:        none !default;

$code-block-padding:  12px !default;
$code-inline-padding: 2px 6px !default;
$code-border-radius:  5px !default;

$code-border:         1px solid #e1e1e8 !default;
$code-background:     #2a2a2a !default;
$code-color:          #fff !default;
$code-text-shadow:    0 1px 0 #000 !default;
$code-box-shadow:     1px 1px .3em -.1em #000 inset !default;


@if $code-selector != null {
  #{$code-selector} {
    tab-size: $code-tab-size;

    hyphens: $code-hyphens;

    // whitespace management
    white-space: pre; // fallback
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;

    font-family: $code-font-family;
    font-size:  $code-font-size;
    line-height: $code-line-height;

    color: $code-color;
    text-shadow: $code-text-shadow;
    background: $code-background;
  }
}

%code-background {
  border-radius: $code-border-radius;
  border: $code-border;
  box-shadow: $code-box-shadow;
}

@if $code-selector-block != null {
  #{$code-selector-block} {
    @extend %code-background;
    display: block;
    padding: $code-block-padding;
  }
}

@if $code-selector-inline != null {
  #{$code-selector-inline} {
    @extend %code-background;
    padding: $code-inline-padding;
  }
}

$code-color-atom:             null !default;
$code-color-attribute:        null !default;
$code-color-bracket:          null !default;
$code-color-builtin:          null !default;
$code-color-comment:          null !default;
$code-color-def:              null !default;
$code-color-header:           null !default;
$code-color-keyword:          null !default;
$code-color-link:             null !default;
$code-color-name:             null !default;
$code-color-number:           null !default;
$code-color-operator:         null !default;
$code-color-property:         null !default;
$code-color-qualifier:        null !default;
$code-color-quote:            null !default;
$code-color-string:           null !default;
$code-color-string-2:         null !default;
$code-color-string-property:  null !default;
$code-color-value:            null !default;
$code-color-variable:         null !default;
$code-color-variable-2:        null !default;
$code-color-variable-3:        null !default;
//$code-color-punctuation:      $code-color-fade !default;
$code-color-tag:              null !default;

// CodeMirror highlighter
@if $code-color-atom != null { .cm-atom { color: $code-color-atom; } }
@if $code-color-attribute != null { .cm-attribute { color: $code-color-attribute; } }
@if $code-color-bracket != null { .cm-bracket { color: $code-color-bracket; } }
@if $code-color-builtin != null { .cm-builtin { color: $code-color-builtin; } }
@if $code-color-comment != null { .cm-comment { color: $code-color-comment; } }
@if $code-color-def != null { .cm-def { color: $code-color-def; } }
@if $code-color-header != null { .cm-header { color: $code-color-header; } }
@if $code-color-keyword != null { .cm-keyword { color: $code-color-keyword; } }
@if $code-color-link != null { .cm-link { color:$code-color-link; } }
@if $code-color-meta != null { .cm-meta { color:$code-color-meta; } }
@if $code-color-number != null { .cm-number { color: $code-color-number; } }
@if $code-color-operator != null { .cm-operator { color: $code-color-operator; } }
@if $code-color-property != null { .cm-property { color: $code-color-property; } }
@if $code-color-qualifier != null { .cm-qualifier { color: $code-color-qualifier; } }
@if $code-color-quote != null { .cm-quote { color: $code-color-quote; } }
@if $code-color-string != null { .cm-string { color: $code-color-string; } }
@if $code-color-string-2 != null { .cm-string-2 { color: $code-color-string-2; } }
@if $code-color-string-property != null { .cm-stringcm-property { color: $code-color-string-property; } }
@if $code-color-tag != null { .cm-tag { color: $code-color-tag; } }
@if $code-color-variable != null { .cm-variable { color: $code-color-variable; } }
@if $code-color-variable-2 != null { .cm-variable-2 { color: $code-color-variable-2; } }
@if $code-color-variable-3 != null { .cm-variable-3 { color: $code-color-variable-3; } }

// .cm-error {
//   background: #f92672;
//   color: #f8f8f0;
// }
