.putainde-Homepage {

}

  .putainde-Homepage-edito {

  }

    .putainde-Homepage-readMore {
      text-align: right;
    }

  .putainde-Homepage-links {
    text-align: center;
    margin: 4rem;

    .icon {
      margin: 0 .4em;
      font-size: 6rem;
      vertical-align: middle;
    }
  }

  .putainde-Homepage-team {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
    }
  }
