$putainde-Konami--background-opacity: .6;

.putainde-Konami {
  // strech
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(#000, .1);
  // RAINBOW
  background: linear-gradient(135deg,
    rgba(#ff0000, $putainde-Konami--background-opacity),
    rgba(#ffa500, $putainde-Konami--background-opacity) 16.66667%,
    rgba(#ffff00, $putainde-Konami--background-opacity) 33.33333%,
    rgba(#008000, $putainde-Konami--background-opacity) 50%,
    rgba(#0000ff, $putainde-Konami--background-opacity) 66.66667%,
    rgba(#4b0082, $putainde-Konami--background-opacity) 83.33333%,
    rgba(#ee82ee, $putainde-Konami--background-opacity)
  );
}

.putainde-Konami-content {
  //center
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); // remove me when autoprefixer is here kthxbye
  transform: translate(-50%, -50%);

  font-size: .8rem;
  width: 700px;
  //height: 200px;

  background: rgba(#fff, .8);
}

  .putainde-Konami-content-hiddenPart {
    // trololo
    visibility: hidden;
  }
