
.putainde-Landing {
  width: auto;
  height: 100%;
  padding: 10em 0;
}

  .putainde-Landing-logo {
    display: block;
    margin: auto;
  }

  .putainde-Landing-links {
    text-align: center;
    a { color: #333 }
  }
