$pu-Landing--backgroundColor:  #eee;
$pu-Landing--opacity: .2;

.pu-Landing {
  width: auto;
  background: $pu-Landing--backgroundColor;
  padding: 10em 0;
}

  .pu-Landing-logo {
    display: block;
    margin: auto;
    opacity: $pu-Landing--opacity;
  }

  .pu-Landing-links {
    text-align: center;
    opacity: $pu-Landing--opacity;
    a { color: #333 }
  }