$pu-Logo-size: 128px;

.pu-Nav {
  position: relative;
  line-height: 2rem;
  margin: 0 0 2rem;
  background: $pu-Color-red;
  
  a {
    color: #fff !important;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .grid {
    position: relative;
    max-width: $pu-Page-max-width;
    margin: auto;
  }
}

  .pu-SiteTitle {
    display: inline-block;
    
    //font-size: 2rem;
    font-weight: bold;
    
    text-decoration: none;
  }
  
    .pu-Logo {
      @include pu-Logo(8rem);
      position: absolute;
      top: 2rem;
      right: 100%;
      margin: 2rem;
    }
    
    .pu-Baseline {
      font-size: .8rem;
      line-height: 1;
      color: rgba(#fff, .4);
    }

  .pu-Nav-list {
    float: right;
    margin: 0;
    padding: 0;
    font-size: .8rem;
    
    &,
    li { display: inline-block; }
    
    li { padding: 0 .5rem; }
  }