html {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: $pu-Color-text;
  line-height: 1.6rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //color: lighten($pu-Color-text, 50%);
  //font-weight: 400;
}
