$putainde-debug: true;

$putainde-Color-red: #c33;
$putainde-Color-text: #444;
$putainde-Color-background: #eee;
$putainde-Page-max-width: 60rem;

@import "css-recipe-media/index";

@import "normalize-css/normalize";

@import "./typography";

@import "./grid";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: $putainde-Color-background;
  background: linear-gradient(45deg, $putainde-Color-background, lighten($putainde-Color-background, 10%));
  min-height: 100%; // stretch background
}

body {

}

a {
  color: $putainde-Color-red;
  &:hover { color: darken($putainde-Color-red, 5%); }
  &:visited { color: lighten($putainde-Color-red, 2%); }

  .icon {
    text-decoration: none;
  }
}

@import "./icons";
@import "./nav";

@import "./content";
@import "./sidebar";

@import "./footer";

// layout
@import "./homepage";
@import "./landing";
@import "./posts";
@import "./post";

// part
@import "./members/author";

// pages
@import "./members/team";

// fun
@import "./konami";
