---
layout: no-sidebar.hbs
title: Les projets qu'on soutient
---
<ul class="putainde-Projects">
  <li class="putainde-Project">
    <a class="putainde-Project-link" href="https://github.com/putaindecode/forum">putaindecode/forum</a>
    , un forum, tout simplement
  </li>
  <li class="putainde-Project">
    <a class="putainde-Project-link" href="https://github.com/happyplan/happyplan">happyplan</a>
    , un générateur de site statique pour se concentrer sur le contenu
  </li>
  <li class="putainde-Project">
    <a class="putainde-Project-link" href="https://github.com/putaindecode/ed-209">ed-209</a>
    , un bot IRC bien sympa, fait en JavaScript
  </li>
  <li class="putainde-Project">
    <a class="putainde-Project-link" href="https://github.com/putaindecode/mdwn.in">mdwn.in</a>
    , un service en ligne de rendu de Markdown
  </li>
  <li class="putainde-Project">
    <a class="putainde-Project-link" href="https://github.com/putaindecode/cookie">cookie</a>
    , une petite librairie très simple, en JavaScript, pour manipuler les cookies
  </li>
</ul>
