extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "MoOx"
  -exports.title = "Faire son préprocesseur CSS à la carte"
  -exports.tags = ["css", "preprocesseur", "postprocesseur"]
  -exports.date = "2014-05-20"

block main
  +Post(exports.title)
    include:md index.md
