extends /src/layouts/main.jade

block exports
  -exports.title = "Putain de code !"

block main
  .Grid.putainde-Section
    .Grid-cell.u-size8of12.putainde-Section-contents
      .putainde-Title.putainde-Title--home
        h2.putainde-Title-text #{lang.lastPosts}
      +Posts(6)

  .Grid.Grid--alignCenter
    .Grid-cell.u-size8of12
      .putainde-List-item.putainde-List-item--link
        a(href="#{uri('posts', page)}")
          | #{lang.morePosts}

  .putainde-Section.putainde-Section--manifesto
    .Grid.Grid--alignCenter
      .Grid-cell.u-size8of12.putainde-Section-contents.putainde-Post-contents
        include /src/partials/manifesto
  .Grid.putainde-Section#top-contributors
    .Grid-cell.u-size8of12.putainde-Section-contents
      include /src/partials/top-contributors
