extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["syvuilliot"]
  -exports.title = "JavaScript modulaire pour le front-end : les bases"
  -exports.tags = ["javascript", "amd", "commonjs", "browserify", "npm", "requirejs", "bower"]
  -exports.date = "2014-12-15"

block main
  +Post(exports.title)
    include:md index.md
