:root {
  --r-Grid-baseFontSize: var(--r-fontSize);
  --r-Grid-gutter: var(--r-lineHeight);
}

.r-Grid {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.r-Grid--large {
  max-width: none;
}
