@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg')
}

.putainde-Icon {
  display: inline-block;
  vertical-align: middle;
}
  .putainde-Icon:before {
    font-family: "<%= fontName %>";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
  }

<% _.each(glyphs, function(glyph) { %>
.putainde-Icon--<%= glyph.fileName %>:before {
  content: "\<%= glyph.codePoint %>";
}
<% }) %>
