mixin Contributors(page)
  -var fileContributors = contributors.files["pages/" + page + ".md"]
  -if(fileContributors)
    -var nbFileContributors = Object.keys(fileContributors).length
    -if(nbFileContributors > 1)
      .putainde-Contributors
        strong.putainde-Contributors-label #{nbFileContributors} #{lang.contributors}
        each contributions, login in fileContributors
          +Avatar(contributors.map[login], true).putainde-Contributor
  //- -else
  //-   -console.log("page", page, "didnt have filesContributor")
