.header {
  display: flex;
  padding: 4rem 0;
  min-height: 40vh;
  color: #fff;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(160deg, #c33, color(#c33 a(.65))),
    url(./what.jpg) 50% 50% no-repeat,
    #121119
  ;
  box-shadow:
    0 0 1rem color(#000 a(.2)) inset,
    0 .4rem 1rem color(#000 a(.2)) inset
  ;
  margin-bottom: 1.5rem;
}

  .headerCell {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 300;
    text-align: center;
    max-width: 40rem;
    padding: 0 1rem;
  }
