extends /layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "Erwyn"
  -exports.title = "Git, boutez les bugs, domptez votre historique!"
  -exports.tags = ["git"]
  -exports.readingTime = "10min"
  -exports.date = "2014-02-27"

block main
  +Post(exports.title)
    include:md index.md
