mixin AuthorsList(authors)
  each authorKey, index in authors
    - var author = contributors.map[authorKey]
    a(href="#{getAuthorUri(author)}") #{author.login}
    //- 2 authors or more : X, Y and Z
    if (authors.length > 1 && index === authors.length - 2)
      =" et "
    else if (index !== authors.length - 1)
      =", "  
      
