doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  each page, url in pages
    url
      loc
        | #{lang.baseURL}/posts/#{uri(url + '.html')}
      priority
        -if(url == "index")
          | 1
        -else if(page.type == "post")
          | 0.8
        -else
          | 0.5
