extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["madx"]
  -exports.title = "Laissez-vous pousser la barbe, apprenez à écrire des Makefiles"
  -exports.tags = ["shell", "makefile"]
  -exports.date = "2014-11-03"

block main
  +Post(exports.title)
    include:md index.md
