extends /layouts/main.jade

block exports
  -exports.title = "Les articles"

block main

  -var tags = {}

  .Grid.putainde-Section
    .Grid-cell.u-size8of12.putainde-Section-contents.js-Posts
      .putainde-Title.putainde-Title--home
        h2.putainde-Title-text
          | #{lang.posts}
          button.putainde-TagFilters-toggle.js-ToggleFilters
            | #{lang.filters}
      +Posts(null, tags)


    .Grid-cell.u-size4of12.putainde-TagFilters
      +Tags(tags)
