extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kud"
  -exports.title = "Créez vos iconfonts avec gulp-iconfont"
  -exports.tags = ["gulp", "nodejs", "frontend", "svg", "fonts", "glyphicons"]
  -exports.date = "2014-05-14"

block main
  +Post(exports.title)
    include:md index.md
