extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["kud"]
  -exports.title = "Comment essayer de coder à peu près comme un chef (raté) sous Windows"
  -exports.tags = ["windows", "outils", "dev"]
  -exports.date = "2014-10-15"

block main
  +Post(exports.title)
    include:md index.md
