.putainde-Column
  text-align: left
  padding: 1em 2em

.putainde-Column-title
  font-size: 1.275em
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif
  font-weight: 400
  color: #444
  text-decoration: none
  display: block
  padding: 0

.putainde-Label
  display: block
  padding: .225em 0
  cursor: pointer
  input
    margin-right: 1em

.putainde-Label-text
  font-size: .875em
  color: #444
