.putainde-Footer
  padding: --line-height 0
  a
    color: MAIN_COLOR
    text-decoration: none
    &:hover
    &:active
      text-decoration: underline

.putainde-Footer-text
  text-align: center
  font-size: .833rem
  color: #666
  margin: 0

.putainde-Footer-text--small
  font-size: .833em

.putainde-Footer-list
  text-align: center
  display: block
  list-style-type: none
  margin: 0
  padding: 0
  font-size: .833rem
  line-height: --line-height * 2;
  li
    display: inline-block
    color: #aaa
    &:before
      content: "•"
    &:first-child:before
      visibility: hidden
  a
    display: inline-block
    padding: 0 1em
