.putainde-Footer
  text-align: center
  padding: 1em 0 .5em
  a
    color: MAIN_COLOR
    text-decoration: none
    &:hover
    &:active
      text-decoration: underline

.putainde-Footer-text
  font-size: .825em
  color: #666
  margin: 0
  padding: .2em 0

.putainde-Footer-text--small
  font-size: .75em

.putainde-Footer-list
  display: block
  list-style-type: none
  margin: 0
  padding: .5em 0
  font-size: .825em
  li
    display: inline-block
    color: #aaa
    &:before
      content: "•"
    &:first-child:before
      visibility: hidden
  a
    display: inline-block
    padding: .3em 1em
