.putainde-Header
  background: MAIN_COLOR
  background: linear-gradient(to bottom, MAIN_COLOR, MAIN_COLOR - 10%)
  @media (max-width:54em)
    .Grid-cell
      text-align: center

.putainde-SiteTitle
  position: relative
  display: inline-block
  padding: .2em 0 .2em 5em
  text-decoration: none
  span
    display: inline-block
    font-size: 1.2em
    color: MAIN_TEXT
    padding: .75em 0
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif
  @media (max-width:54em)
    font-size: .8em
    margin: .25em 0

.putainde-Logo
  LOGO_SIZE=4
  position: absolute
  left: 0
  top: 0
  width: unit(LOGO_SIZE,em)
  height: unit(LOGO_SIZE,em)
  transition: .3s ease-in-out transform
  &:hover
    transform: translateY(1em) rotate(-15deg) scale(1.4)
