.putainde-List
  text-align: center

.putainde-List-contents
  text-align: left

.putainde-List-item
  position: relative
  padding: .5em .5em .5em 5em
  border-bottom: .125em solid #eee
  min-height: 4em

.putainde-List-authorPicture
  position: absolute
  top: .5em
  left: 0
  width: 4em
  border-radius: 100%


.putainde-List-title
  font-size: 1.475em
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif
  font-weight: 700
  color: #444
  text-decoration: none
