.putainde-List
.putainde-Manifesto
.putainde-Crew
  text-align: center
  padding: 2em 0

.putainde-List-contents
.putainde-Manifesto-contents
.putainde-Crew-contents
  text-align: left
  padding: 1em 0

.putainde-List-item
  position: relative
  padding: 1em .5em 1em 5em
  border-bottom: 1px solid #eee
  min-height: 4em

.putainde-List-authorPicture
  position: absolute
  top: 1em
  left: 0
  width: 4em
  border-radius: 100%


.putainde-List-title
  font-size: 1.475em
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif
  font-weight: 400
  color: #444
  text-decoration: none
  display: block
  padding: 0 0 .4em

.putainde-Tags
  display: inline-block
  vertical-align: middle
  list-style-type: none
  padding: 0
  margin: 0

.putainde-Tag
  display: inline-block
  background: #fafafa
  box-shadow: inset 0 0 0 1px rgba(#000, .05)
  padding: 0 1em
  font-size: .825em
  margin-right: .2em
  line-height: 1.7
  border-radius: 1em

.putainde-List-author
  position: absolute
  font-size: .825em
  color: #888
  bottom: unit(1.3/@font-size,em)
  right: 0
  a
    font-weight: 700
    text-decoration: none
    color: #666
