:root {
  var-putainde-Member-picture-size: calc(var(line-height) * 3)
}

.putainde-Member
  position: relative
  padding: 0 0 0 7em
  margin: var(line-height) 0 var(double-line-height)
  @media (max-width:28em)
    padding-left: 4em

.putainde-Member--author
  padding: var(line-height) 0 var(line-height) calc(var(putainde-Member-picture-size) + 1rem)
  @media (max-width:28em)
    padding-left: 4em

.putainde-Member-picture
  position: absolute
  top: 0
  left: 0
  height: var(putainde-Member-picture-size)
  border-radius: 100%
  @media (max-width:28em)
    height: calc(var(line-height) * 2)
  /.putainde-Member--author &
    top: var(line-height)

.putainde-Member-title
  border-bottom: 1px solid #f0f0f0
  margin-bottom: -1px;
  position: relative

.putainde-Member-name
  color: #222
  margin: 0

.putainde-WrittenBy {
  color: rgba(68, 68, 68, .6);
}

.putainde-Member-social
  position: absolute
  top: .5em
  right: 0
  background: #fafafa
  border-radius: 2em
  overflow: hidden
  @media (max-width:28em)
    position: static;
    display: inline-block;
  a
    color: #444
    display: inline-block
    padding: .2em 1em
    @media (max-width:28em)
      font-size: 1em
    &:hover
    &:focus
      background: #eee

.putainde-Member-description
  font-size: .925em
  color: #444

.putainde-Member--author
  .putainde-Member-description
      font-size: .833rem
