.putainde-Member
  position: relative
  padding: 0 0 1em 7em
  margin-top: 1em

.putainde-Member-picture
  position: absolute
  top: 0
  left: 1em
  height: 5em
  border-radius: 100%

.putainde-Member-name
  color: #222
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif
  font-weight: 400
  font-size: 1.325em
  border-bottom: 1px solid #f0f0f0
