.putainde-Post
  text-align: center

.putainde-Title
  color: #222
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif
  top: 0
  position: relative
  position: -webkit-sticky
  background: #fff
  background: linear-gradient(to bottom, #fff 60%, rgba(#fff, 0))

.putainde-Title--home
  text-align: center

.putainde-Title-authorPicture
  position: absolute
  border-radius: 100%
  width: 3em
  left: -(@width + 1.5)
  top: 50%
  margin-top: unit(@width/-2, em)

.putainde-Title-text
  font-size: 1.9em
  margin: .25em 0
  padding: .25em 0
  font-weight: 400

.putainde-Post-contents
  text-align: left
  color: #444
  padding: 1em 0
  p
    line-height: 1.4
  a
    color: MAIN_COLOR
    text-decoration: none
    font-weight: 700
