.putainde-Post
  text-align: center
  padding: 0 var(line-height);

.putainde-Title {
  color: #222;
  position: relative;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
  background: #fff;
  background: linear-gradient(to bottom, #fff 60%, rgba(#fff, 0));
}

.putainde-Title--home
  text-align: center

.putainde-Title-authorPicture
  position: absolute
  width: 3em
  left: -(@width + 1.5)
  top: 50%
  margin-top: unit(@width/-2, em)

.putainde-Title-text
  font-weight: 400

.putainde-Post-metas {
  display: inline-block;
  font-size: var(font-size-small);
  color: #999;
}

.putainde-Post-readingTime
  animation: ReadingTimeAppear .3s ease-in-out

@keyframes ReadingTimeAppear
  from
    opacity: 0
    visibility: visible
  to
    opacity: 1

.putainde-Post-readingTime--hidden {
  visibility: hidden;
  opacity: 0;
  animation: none;
}

.putainde-Post-contents
  text-align: left;
  color: #444;

  a
    color: var(putainde-Color-red)
    text-decoration: none
    &:hover
    &:focus
      text-decoration: underline

.putainde-Post-md

  ul
  ol
    padding: 0 0 0 1.75em

  tt
  code
  pre
    font-family: Consolas, "Liberation Mono", Courier, monospace
  pre
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto
    overflow: auto
    margin: var(line-height) 0
    padding: var(half-line-height)
    line-height: calc(var(line-height) * .75)
    font-size: var(font-size-small)
    color: #444
    font-weight: 400
    border: 1px solid #ddd
    background: #fafafa
    border-radius: .3em
    box-shadow: inset 0 0 0 .25em rgba(#000, .02)

    code
      display: block;
      background: transparent
      border: none
      padding: 0
      font-size: inherit;
      vertical-align: baseline
  code
    display: inline-block
    vertical-align: top
    border: 1px solid #ddd
    margin: -1px 0;
    padding: 0 .5em
    font-size: var(font-size-small)
    font-weight: 400
    background: #fafafa
    border-radius: .25em
  .hljs-string
  .hljs-number
  .hljs-tag .hljs-value
    color: #cf1d58
  .hljs-keyword
    color: #000
  .hljs-comment
  .hljs-doctype
  .hljs-preprocessor
    color: #999
  .hljs-class
  .hljs-title
    color: #2c4379
  .hljs-attribute
    color: #49629a
  .hljs-value
    color: #2e4f89
  img
    max-width: 100%
    height: auto
  p img:only-child
    margin: 1em 0
  figure
    padding: 0
    margin: 0
    box-shadow: 0 0 0 1px #eee;
    margin: 0 auto var(line-height);
    overflow: hidden
    border-radius: .3em
    display: block
    line-height: .8
    text-align: center
  figcaption
    font-style: italic
    font-family: Georgia, Times, "Times New Roman", serif
    text-align: center
    margin: 0
    display: block
    background: #fafafa
    line-height: var(double-line-height)
    border-top: 1px solid #eee
    margin-top: -1px;
  blockquote
    color: #888
    margin: 0 0 0 1em
    padding: 0 2em 0 1em
    border-left: .25em solid #888
  hr
    border: none
    border-top: .225em solid #eee
    margin-top: -.225em

  .putainde-Media {

  }

  .putainde-Media--left {
    float: left;
    margin-right: 1rem;
  }

  .putainde-Media--right {
    float: right;
    margin-left: 1rem;
  }

.putainde-Networks
  text-align: center
  border-top: 1px solid #eee
  margin-top: -1px;
  padding: var(line-height) 0;
  line-height: var(double-line-height);
  font-family: Georgia, Times, "Times New Roman", serif
  font-style: italic

  * {
    vertical-align: top;
  }

.putainde-Network
  display: inline-block;
  font-size: 2.074em;
  padding: 0 0.2em;

.putainde-Post-footer {
  margin: var(double-line-height) 0;
  box-shadow: inset 0 1px 0 0 var(putainde-Color-lightGrey);
}

.putainde-Post-footer-title {
  color: #999;
}

.putainde-Post-footer-title,
.putainde-Post-footer-action {
  font-size: var(font-size-small);
}

@media (min-width: 54em) {
  .putainde-Post-footer .u-size1of3 + .u-size1of3 {
    text-align: center;
  }

  .putainde-Post-footer .u-size1of3 + .u-size1of3 + .u-size1of3 {
    text-align: right;
  }
}

#disqus_thread {
  margin: var(double-line-height) 0 var(line-height);
}
