.putainde-Section
  text-align: center
  padding: 2em 0

.putainde-Section-contents
  text-align: left
  padding: 1em 0

.putainde-Section--manifesto
  background: #fafafa

  .putainde-Title
    background: #fafafa
    background: linear-gradient(to bottom, #fafafa 60%, rgba(#fafafa, 0))
