.putainde-Section
  text-align: center
  padding: --line-height 0

.putainde-Section-contents
  text-align: left

.putainde-Section--manifesto
  background: #fafafa
  margin: --line-height 0

  .putainde-Title
    background: #fafafa
    background: linear-gradient(to bottom, #fafafa 60%, rgba(#fafafa, 0))
