.putainde-Main {
  margin: var(line-height) 0
}

.putainde-Section
  text-align: center
  margin: var(line-height) auto

.putainde-Section-contents
  text-align: left

.putainde-Section--manifesto
  background: #fafafa
  padding: var(line-height)

  .putainde-Title
    background: #fafafa
    background: linear-gradient(to bottom, #fafafa 60%, rgba(#fafafa, 0))
