extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "neemzy"
  -exports.title = "Responsive webdesign et structure du DOM"
  -exports.tags = ["responsive", "html", "javascript"]
  -exports.date = "2013-12-26"

block main
  +Post(exports.title)
    include:md index.md
