/* TODO explode this shit in css modules in components */

/* base */
@import "normalize.css";
@import "cssrecipes-defaults";

/* grid */
@import "cssrecipes-custom-media-queries";
@import "cssrecipes-grid";
@import "cssrecipes-utils";

@import "cssrecipes-vertical-rhythm";
@import "cssrecipes-vertical-rhythm/lib/ratio/minor-third.css";

/* quick fix to avoid adding r-VerticalRhythm class to <html> */
html {
  font-size: var(--r-fontSize);
  line-height: var(--r-lineHeight);
}

@import "cssrecipes-tooltip";
.r-Tooltip {
  z-index: 1;
}
.r-Tooltip--allowNewLines::before {
  white-space: pre;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background: #fefefe;
}

::selection {
  background: #444;
  color: #fff;
}

:root {
  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  --fontFamily-body:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --fontFamily-title:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html {
  font-family: var(--fontFamily-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fontFamily-title);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em em {
  font-style: normal;
}

:root {
  --r-Grid-baseFontSize: var(--r-fontSize);
  --r-Grid-gutter: var(--r-lineHeight);
}

.r-Grid {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.putainde-Icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: middle;

  fill: currentColor;

  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.putainde-Title {
  margin: calc(var(--r-lineHeight) / 2) 0;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.putainde-Title--home {
  text-align: center;
}

@import "./blocks/header.css";
@import "./blocks/footer.css";

@import "./blocks/links.css";
@import "./blocks/forms.css";

@import "./blocks/section.css";
@import "./blocks/column.css";
@import "./blocks/post.css";

@import "./blocks/author.css";
@import "./blocks/contributors.css";

@import "./blocks/list.css";
@import "./blocks/note.css";

/* @import "./js/images.css"; */

@import "./blocks/highlight.css";

/* advent calendar */
.putainde-Day {
  padding: .5rem;
  border: 1px solid #c33;
  border-radius: 2px;
  display: block;
  margin: .2rem;
}

  @media (--minM) {
    .putainde-Day {
      min-height: 8rem;
    }
  }

.putainde-Day[href=""] {
  opacity: .4;
}
