extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["neemzy"]
  -exports.title = "L'injection de dépendances en PHP"
  -exports.tags = ["php", "php-di"]
  -exports.date = "2014-10-31"

block main
  +Post(exports.title)
    include:md index.md
