extends /layouts/main.jade

block main
  .Grid.putainde-Section
    .Grid-col.Grid-col--8.putainde-Section-contents
      .putainde-Title.putainde-Title--home
        h2.putainde-Title-text #{lang.lastPosts}
      +Posts(6)
      .putainde-List-item.putainde-List-item--link
        a(href="#{path.relative(page, 'posts')}")
          | #{lang.morePosts}
  .putainde-Section.putainde-Section--manifesto
    .Grid
      .Grid-col.Grid-col--8.putainde-Section-contents.putainde-Post-contents
        include /partials/manifesto
  .Grid.putainde-Section#crew
    .Grid-col.Grid-col--8.putainde-Section-contents
      include /partials/crew
