extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "lionelB"
  -exports.title = "Un point sur les grilles CSS en inline-block"
  -exports.tags = ["css", "inline-block", "grid"]
  -exports.date = "2014-06-13"

block main
  +Post(exports.title)
    include:md index.md
