.header {
  display: flex;
  padding: 4rem 0;
  min-height: 40vh;
  color: #fff;
  align-items: center;
  justify-content: center;
  background: linear-gradient(160deg, #e41d57, #cc0613), #cc0613;
  box-shadow: 0 0 1rem color(#000 a(0.2)) inset,
    0 0.4rem 1rem color(#000 a(0.2)) inset;
  margin-bottom: 1.5rem;
}

.headerCell {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 300;
  text-align: center;
  max-width: 40rem;
  padding: 0 1rem;
}

.podcast {
  background: linear-gradient(
      160deg,
      rgb(250, 250, 250),
      rgba(214, 194, 162, 0.6)
    ),
    url(https://farm1.staticflickr.com/21/99108769_746c3def0a_b.jpg) 50% 50% /
      cover;
}

.podcastTitle {
  padding: 20vh 1rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  color: var(--colorRed);
}

.podcastLink {
  color: var(--colorRed);
}

.podcastImageCredit {
  padding: 0 1rem;
  font-size: 0.9rem;
  text-align: right;
  color: #fff;

  & a {
    color: inherit;
    opacity: 0.6;
  }
}
