extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["MoOx"]
  -exports.title = "Il démarre Vim par erreur, ce qui se passe ensuite est tout simplement bluffant"
  -exports.tags = ["éditeur", "vim"]
  -exports.date = "2015-03-03"

block main
  +Post(exports.title)
    include:md index.md
