:root {
  --putainde-Author-picture-size: calc(var(--r-lineHeight) * 3);
}

.putainde-Avatar {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 0 0 1px var(--putainde-Color-lightGrey);
}

  .putainde-Avatar img {
    display: block;

    width: 100%;
    height: 100%;

    /* center in parent */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }


.putainde-Author {
  text-align: left;
  position: relative;
  padding: 0 0 0 calc(var(--putainde-Author-picture-size) + 1rem);
  margin: var(--r-lineHeight) 0;
}
  @media (max-width:28em) {
    .putainde-Author {
      padding-left: 4em;
    }
  }

  .putainde-Author-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--putainde-Author-picture-size);
    width: var(--putainde-Author-picture-size);
  }
    @media (max-width:28em) {
      .putainde-Author-picture {
        height: calc(var(--r-lineHeight) * 2);
        width: calc(var(--r-lineHeight) * 2);
      }
    }

  .putainde-Author-title {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: -1px;
    position: relative;
  }

  .putainde-Author-name {
    color: #222;
    margin: 0;
  }

  .putainde-Author-afterName {
    font-size: .5em;
    margin-left: .5em;
    opacity: .5;
  }

    .putainde-Author:hover .putainde-Author-afterName {
      opacity: .8;
    }

  .putainde-WrittenBy {
    color: rgba(68, 68, 68, .6);
  }

  .putainde-Author-social {
    position: absolute;
    top: .5em;
    right: 0;
    background: #fafafa;
    border-radius: 2em;
  }
    @media (max-width:28em) {
      .putainde-Author-social {
        position: static;
        display: inline-block;
      }
    }

    .putainde-Author-social a {
      color: #444;
      fill: #444;
      display: inline-block;
      padding: .2em 1em;
    }

      .putainde-Author-social a .putainde-Icon { font-size: 1.2em; }
      @media (max-width:28em) { .putainde-Author-social a { font-size: 1em } }

      .putainde-Author-social a:hover,
      .putainde-Author-social a:focus { background: #eee }

  .putainde-Author-description {
    font-size: var(--r-small-fontSize);
    color: #444;
  }

    .putainde-Author-bio {
      min-height: var(--r-lineHeight);
    }
