.putainde-Footer {
  border-bottom: 0.8em solid var(--putainde-Color-red);
}

  .putainde-Footer > .r-Grid {
    padding: var(--r-lineHeight) 0 0;
    border-top: 1px solid #ddd;
    margin-top: -1px;
  }

    @media (--r-maxM) {
      .putainde-Footer > .r-Grid > .r-Grid-cell {
        padding: calc(var(--r-lineHeight) / 2) 0;
        text-align: center;
      }
    }

  .putainde-Footer a {
    color: var(--putainde-Color-red);
    fill: var(--putainde-Color-red);
    text-decoration: none;
  }
    .putainde-Footer a:hover,
    .putainde-Footer a:active {
      text-decoration: underline
    }

    .putainde-Footer a .putainde-Icon { font-size: 1.4em; }

.putainde-Footer-text {
  font-size: .833rem;
  color: #666;
  margin: 0;
}

.putainde-Footer-text--small {
  font-size: var(--r-small-fontSize);
}

@media (--r-minM) {
  .putainde-Footer-text--right {
    text-align: right;
  }
}

  @media (--r-minM) {
    .putainde-Footer-list {
      text-align: center
    }
  }

.putainde-Footer-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: .833rem;
}
  .putainde-Footer-list li {
    display: inline-block;
    color: #aaa;
  }
  .putainde-Footer-list a {
    display: inline-block;
    padding: 0 1.25em;
  }
