:root {
  --putainde-Header-height-s: calc(var(--r-lineHeight) * 1.2);
  --putainde-Logo-size-s: calc(var(--putainde-Header-height-s) * 1.4);
  --putainde-Header-height-l: calc(var(--r-lineHeight) * 2);
  --putainde-Logo-size-l: calc(var(--putainde-Header-height-l) * 1.5);
}

.putainde-Header {
  background: var(--putainde-Color-red);
  background: linear-gradient(to bottom, var(--putainde-Color-red), var(--putainde-Color-red) 10%);
  line-height: var(--putainde-Header-height-l);
}

  @media (max-width:54em) {
    .putainde-Header .Grid-cell {
      text-align: center
    }
  }

.putainde-SiteTitle {
  position: relative;
  display: inline-block;
  padding: 0 0 0 calc(var(--putainde-Logo-size-s) + 1rem);
  text-decoration: none
}

  @media (min-width: 54em) {
    .putainde-SiteTitle {
      padding: 0 0 0 calc(var(--putainde-Logo-size-l) + 1rem);
    }
  }
  @media (max-width:54em) {
    .putainde-SiteTitle {
    font-size: var(--r-small-fontSize);
    }
  }

  .putainde-SiteTitle span {
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
    font-family: var(--fontFamily-title);
  }

.putainde-Logo {
  position: absolute;
  top: 50%;
  left: 0;
  width: var(--putainde-Logo-size-s);
  height: var(--putainde-Logo-size-s);
  transition: .2s;
  transform: translateY(-50%);
}
  @media (min-width: 54em) {
    .putainde-Logo {
      width: var(--putainde-Logo-size-l);
      height: var(--putainde-Logo-size-l);
    }
  }

.putainde-SiteTitle:hover .putainde-Logo {
  transform: translateY(-50%) rotate(-2deg) scale(1.2);
}
