.hljs-string,
.hljs-number,
.hljs-tag .hljs-value {
  color: #cf1d58;
}
.hljs-keyword {
  color: #000;
}
.hljs-comment,
.hljs-doctype,
.hljs-preprocessor {
  color: #999;
}
.hljs-class,
.hljs-title {
  color: #2c4379;
}
.hljs-keyword,
.hljs-variable,
.hljs-attribute {
  color: #49629a;
}
.hljs-value {
  color: #2e4f89;
}
