extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "madx"
  -exports.title = "Maîtriser les redirections shell"
  -exports.tags = ["shell"]
  -exports.date = "2014-07-16"

block main
  +Post(exports.title)
    include:md index.md
