.js-AnimateLoad
  visibility: hidden

.js-Loaded
  visibility: visible
  animation: .5s ease-in-out AuthorPicture

@keyframes AuthorPicture
  from
    visibility: visible
    opacity: 0
    transform: translateX(-100%) rotate(-180deg)
  to
    opacity: 1
    transform: translateX(0) rotate(0)
