extends /layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "kewah"
  -exports.title = "NPM comme package manager pour le front-end"
  -exports.tags = ["npm", "package manager", "javascript", "css"]
  -exports.date = "2014-05-05"

block main
  +Post(exports.title)
    include:md index.md
