---
layout: empty.hbs
title: Erreur 404
class: putainde-Landing
---
<a href="{{ base_url }}">
  <img class="putainde-Landing-logo" src="{{ happyplan.baseUrls.images }}/p!-logo.svg" alt="Putain de code !" />
</a>
<div class="putainde-Landing-links">
	<h1>Oups, tu t'es perdu(e) sale noob !</h1>
	<br /><br />
	<a href="{{ base_url }}">Accueil</a>
	|
	<a href="https://github.com/putaindecode">Github</a>
	|
	<a href="https://twitter.com/putaindecode">Twitter</a>
</div>
