---
layout: empty.hbs
class: putainde-Landing
---
<img class="putainde-Landing-logo" src="{{ happyplan.baseUrls.images }}/p!-logo.svg" alt="Putain de code !" />
<div class="putainde-Landing-links">
	<a href="https://github.com/putaindecode">Github</a>
	|
	<a href="https://twitter.com/putaindecode">Twitter</a>
</div>
