/* base */
@import "normalize.css/normalize.css";
@import "cssrecipes-defaults";

/* grid */
@import "cssrecipes-custom-media-queries";
@import "cssrecipes-grid";
@import "cssrecipes-utils";

@import "cssrecipes-vertical-rhythm";
@import "cssrecipes-vertical-rhythm/lib/ratio/minor-third.css";

/* quick fix to avoid adding r-VerticalRhythm class to <html> */
html {
  font-size: var(--r-fontSize);
  line-height: var(--r-lineHeight);
}

@import "cssrecipes-tooltip";
.r-Tooltip--allowNewLines::before {
  white-space: pre;
}

@import "./css/base/typography.css";
@import "./css/base/colours.css";
@import "./css/base/layout.css";
@import "./css/base/responsive.css";
@import "./css/base/icons.css";
/* @import "../../tmp/svg-symbols.css"; */

@import "./css/blocks/header.css";
@import "./css/blocks/footer.css";

@import "./css/blocks/navigation.css";
@import "./css/blocks/links.css";
@import "./css/blocks/forms.css";

@import "./css/blocks/section.css";
@import "./css/blocks/column.css";
@import "./css/blocks/post.css";

@import "./css/blocks/author.css";
@import "./css/blocks/contributors.css";

@import "./css/blocks/list.css";
@import "./css/blocks/note.css";

/* @import "./css/js/images.css"; */

@import "./css/blocks/highlight.css";
