:root {
  --fontFamily-body: "Helvetica Neue", Helvetica, "Liberation Sans", "Droid Sans", Arial, sans-serif;
  --fontFamily-title: Avenir, "Helvetica Neue", Helvetica, "Liberation Sans", "Droid Sans", sans-serif;
}

html {
  font-family: var(--fontFamily-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fontFamily-title);
  font-weight: 400;
}

em em {
  font-style: normal;
}
