$putainde-TeamMember-borderRadius: .2rem;

.putainde-TeamMembers {
  overflow: auto;
}

  .putainde-TeamMember {
    position: relative;
    margin: auto;
    max-width: 18rem;
    $width: 100%;
    padding-bottom: $width; // flex embed technic
    @include crp-Media-s {
      float: left;
      $nb-member: 2;
      width: $width/$nb-member;
      padding-bottom: $width/$nb-member;
    }
    @include crp-Media-m {
      $nb-member: 3;
      width: $width/$nb-member;
      padding-bottom: $width/$nb-member;
    }
    @include crp-Media-l {
      $nb-member: 4;
      width: $width/$nb-member;
      padding-bottom: $width/$nb-member;
    }
    overflow: hidden;
    border-radius: $putainde-TeamMember-borderRadius;
  }

  .putainde-TeamMember-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: .2rem;

    // fancy style
    /*
    &:after {
      pointer-events: none; // doesnt work until IE 11

      content: "";
      display: block;
      //stretch
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      border: 1px solid rgba(#000, .05);
      box-shadow: 0px 0px 2px rgba(#fff, .4) inset, 0px 0px .8rem rgba(#fff, .1) inset;
    }
    */
  }

    .putainde-TeamMember-img {
      display: block;
      border-radius: $putainde-TeamMember-borderRadius;

      img {
        display: block;
        max-width: 100%;
        border-radius: $putainde-TeamMember-borderRadius;
      }
    }

    .putainde-TeamMember-info {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;

      padding: .4rem 1rem;
      background: rgba($putainde-Color-red, .8);

      border-radius: $putainde-TeamMember-borderRadius $putainde-TeamMember-borderRadius 0 0;

      &, a { color: #fff; }

      transition: all .2s;
    }

      .putainde-TeamMember-info-name {

      }

      .putainde-TeamMember-info-github {
        float: right;
      }

      .putainde-TeamMember-info-twitter {
        float: right;
      }

    .putainde-TeamMember-bio--short {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      padding: .4rem 1rem;
      font-size: .8rem;
      background: rgba(#fff, .8);

      display: none;
    }

  .putainde-TeamMember:hover {
    .putainde-TeamMember-info {
      background: rgba($putainde-Color-red, .95);
    }

    .putainde-TeamMember-bio--short {
      display: block;
    }
  }

.putainde-Contributors {
  display: block;
  text-align: center;
  margin: 2rem;
}
