extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.author = "MoOx"
  -exports.title = "HTML ? Hache-Thé-Aime-Elle vous dites ?"
  -exports.tags = ["html"]
  -exports.date = "2013-11-07"

block main
  +Post(exports.title)
    include:md index.md
