doctype html
title Putain de page
style.
  p {
    margin-top: 2em;
    margin-bottom: 10em;
h1 Ma première putain de page html
p
  | Ouais mec t'as vu ce code de ouf ?
  | Il est trop bien parce que:
  ul
    li Il est
      del valide
    li Il est beau
