  <footer class="putainde-Footer">
{{!
    <div class="putainde-Footer-moreContentPlease grid">
      <aside class="putainde-Footer-block grid__cell unit-1-3--m">
        <h1 class="putainde-Footer-block-title">Ceci est un putain de footer</h1>
        <ul class="putainde-Footer-block-list">
          <li>Ceci est une putain de liste</li>
        </ul>
      </aside>
      <aside class="putainde-Footer-block grid__cell unit-1-3--m">
        <h1 class="putainde-Footer-block-title">Ceci est un putain de footer</h1>
        <ul class="putainde-Footer-block-list">
          <li>Ceci est une putain de liste</li>
        </ul>
      </aside>
      <aside class="putainde-Footer-block grid__cell unit-1-3--m">
        <h1 class="putainde-Footer-block-title">Ceci est un putain de footer</h1>
        <ul class="putainde-Footer-block-list">
          <li>Ceci est une putain de liste</li>
        </ul>
      </aside>
    </div>
}}
    <div class="putainde-Footer-colophon grid">
      <div class="putainde-Footer-colophon-left grid__cell unit-1-3--m">
        Â© 1970 - 2013 Putain de code
      </div>
      <div class="putainde-Footer-colophon-center grid__cell unit-1-3--m">
        <img class="putainde-Footer-logo" alt="Putain de code !" src="{{ happyplan.baseUrls.images }}/p!-logo.svg" />
      </div>
      <div class="putainde-Footer-colophon-right grid__cell unit-1-3--m">
        <span class="putainde-Footer-colophon-item">Made with â¤ by <a href="/le-crew/">le crew</a></span>
        |
        <a class="putainde-Footer-colophon-item" href="https://github.com/putaindecode">Contact</a>
      </div>
    </div>
  </footer>
