<nav class="putainde-Nav">
	<div class="grid">
		<div class="grid__cell">
			<a class="putainde-SiteTitle" href="{{ happyplan.baseUrl }}">
				<img class="putainde-Logo" alt="Putain de Code !" src="{{ happyplan.baseUrls.images }}/p!-logo.svg" />
				{{ happyplan.name }}
			</a>

			<span class="putainde-Baseline">{{ happyplan.description }}</span>

			<ul class="putainde-Nav-list">
				<li class=""><a class="putainde-Nav-list-item {{#is this.nav 'wat' }}putainde-Nav-list-item--active{{/is}}" href="c-est-quoi-putaindecode">Putain de ... ?</a>
        <li class=""><a class="putainde-Nav-list-item {{#is this.nav 'posts' }}putainde-Nav-list-item--active{{/is}}" href="posts">Les Posts</a>
				<li class=""><a class="putainde-Nav-list-item {{#is this.nav 'contribute' }}putainde-Nav-list-item--active{{/is}}" href="posts/comment-contribuer/">Comment Contribuer ?</a>
			</ul>
		</div>
	</div>
</nav>
