extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["kud", "MoOx"]
  -exports.title = "L'auto-entrepreneuriat : retour d'expériences"
  -exports.tags = ["auto-entrepreneur", "administratif", "entreprendre"]
  -exports.date = "2014-10-30"

block main
  +Post(exports.title)
    include:md index.md
