html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
}

/**
 * Vertical rhythm
 *
 * http://type-scale.com/?size=20&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=&font-family=sans-serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=#333
 */
--font-size= 1rem;
--line-height= 1.5625rem;
// double declaration until stylus is gone
// old css var spec syntax (waiting for SUIT to upgrade to --)
:root {
  var-font-size: 1rem;
  var-line-height: 1.5625rem;
  var-double-line-height: calc(var(line-height) * 2);
  var-half-line-height: calc(var(line-height) / 2);

  var-font-size-h1: 2.074rem;
  var-font-size-h2: 1.728rem;
  var-font-size-h3: 1.44rem;
  var-font-size-h4: 1.2rem;
  var-font-size-small: 0.833em; /* not rem so you can use .small in .small */
}


body {
  font-size: var(font-size);
  line-height: var(line-height);
}


p, ul {
  margin: var(line-height) 0;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 var(line-height);
  line-height: var(double-line-height);
}

/* scale: 1.200 (minor third) */
h1 {
  font-size: var(font-size-h1);
}
h2 {
  font-size: var(font-size-h2);
}
h3 {
  font-size: var(font-size-h3);
}
h4 {
  font-size: var(font-size-h4);
}
small {
  font-size: var(font-size-small);
}

/* ... and now just use $line-height when you need some vertical spacing ! */
